@font-face {
    font-family: Knewave-Regular;
    src: url('Knewave-Regular.ttf');
}

body{
    background-image: url(images/hatter.jpg);
    background-repeat: no-repeat;
}

.navbar{
    background-color: none;
    width: 100%;
    padding-left: 10%;
    margin-top: 25%;
    margin-left: 4%;
}

button{
    background-color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 36px;
    width: 15%;
    height: 3rem;
    font-family: Knewave-Regular;
}

button:hover{
    font-size: 30px;
    text-decoration: underline;
}